.filter {
	display: block;
	width: 709px;
	height: 102px;
	margin-bottom: 1.5em;
  // border: 2px solid black;
  table {
		height: inherit;
		width: inherit;
    border: none;
    tbody {
      display: flex;
      flex-direction: row;
      td {
        height: 48.3px;
        width: min-content;
				border-bottom: none;
      }
    }
  }
}
