.filter-fltr {
  display: flex;
  justify-content: space-between;
  font-size: small;
  align-items: baseline;
  width: 100%;
  select {
    margin: 0;
  }
}
.filter-title {
  width: -moz-available;
  margin: 0;
  margin-bottom: 0.5em;
}
