.media-display {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media (max-width: 1400px) {
  .media-display {
    width: 90%;
  }
}

.media {
  display: flex;
  justify-content: space-around;
}
