.media-row {
  .poster-image {
    width: 130px;
  }
}

.media-info {
  margin-top: 1em;
}

.media-options {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-evenly;
}

.start-date {
  margin-right: 0.25em;
}
