.media-table {
  background-color: white;
  border-radius: 0.25em;
  margin-bottom: 1.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  width: auto;
  table {
    padding-bottom: 0;
    width: 100%;

    thead {
      .sort-by-prop {
        td {
          color: white !important;
        }
      }
    }

    tbody {
      td {
        height: 190.3px;
      }
      .media-name {
        font-weight: bold;
      }
      .media-info {
        vertical-align: top;
      }
      .media-info-info {
        color: #8d8d8d;
      }

      .media-name,
      .media-info label,
      .media-info-info,
      .media-dates {
        padding-bottom: 1em;
      }

      .media-user-info {
        display: flex;
        flex-direction: column;
      }

      .sorting {
        display: flex;
      }
      tr:hover {
        background-color: #f5f5f5;
      }

      /* Alternate Row Colors */
      tr:nth-child(even) {
        background-color: #f9f9f9;
      }
      tr:nth-child(odd) {
        background-color: #ffffff;
      }
    }
  }
}
