.media-details {
  display: flex;
  flex-direction: column;
  width: 40%;
  line-height: 1.5;

  img {
    margin-bottom: 0.5em;
  }

  label,
  p {
    display: block;
    padding: 0.5em;
    background-color: #ffffff;
    border-radius: 0.25em;
    margin-bottom: 0.5em;
  }
}
@media (max-width: 1400px) {
  .media-details {
    display: none;
  }
}

.offical-info {
  display: flex;
  flex-direction: column;
  details {
    max-height: 160px;
    overflow-y: scroll;
  }
}
.imdb-stats {
  display: flex;
  justify-content: space-between;
}
