.media-row-dafault {
  .poster-image {
    width: 130px;
  }
}

.media-info {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 174px;
  margin-bottom: 1em;
}

.media-options {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-evenly;
  height: 174px;
}

.media-info-info {
  color: gray;
  font-style: italic;
}

.start-date {
  margin-right: 0.25em;
}

.media-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  select {
    font-weight: normal;
  }
  p,
  select {
    margin: 0;
    display: inline-block;
  }
}

.media-row-mobile {
  display: none !important;
  td {
    height: auto !important;
  }
  .col-1 {
    width: 7.5em;
  }
  .media-info-mobile {
    font-style: italic;
    color: gray;
    td {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.text {
  text-overflow: ellipsis;
  cursor: pointer;
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 1400px) {
  .media-row-mobile {
    display: block;
  }
  .media-row-dafault {
    display: none;
  }
}

.update-titles {
  display: flex;
  justify-content: space-between;
  margin-top: 0.85em;
  input {
    width: 200px;
  }
  .subtitle {
    margin-left: 0.75em;
  }
}
