.media-table {
  display: block;
  padding: 1em;
  // border: 1px solid gray;
  background-color: white;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  margin-bottom: 1.5em;
  table {
    max-height: 710px;
    overflow-y: scroll;
    padding-bottom: 0;

    tr, thead, tbody {
    }
    thead {
      .sort-by-prop {
        td {
          color: white !important;
        }
      }
    }

    tbody {
      td {
    height: 190.3px;

  }
      .media-name {
        font-weight: bold;
      }
      .media-info {
        vertical-align: top;
      }
      .media-info-info {
        color: #8d8d8d;
      }

      .media-name,
      .media-info label,
      .media-info-info,
      .media-dates {
        padding-bottom: 1em;
      }

      .media-user-info {
        display: flex;
        flex-direction: column;
      }

      .sorting {
        display: flex;
      }
      tr:hover {
        background-color: #f5f5f5;
      }

      /* Alternate Row Colors */
      tr:nth-child(even) {
        background-color: #f9f9f9;
      }
      tr:nth-child(odd) {
        background-color: #ffffff;
      }
    }
  }
}
