@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #a06ec4;
    --color-secondary: #753696;
    --color-accent: #4c2553;
    --color-neutral: #000;
    --color-base-100: #e7d8f7;
    --color-base-300: #c580ed;
  }
}

html[data-theme='dark-purple'] {
  --color-base-100: #110c12;
  --color-base-200: #1d131f;
  --color-interactive-300: #311b35;
  --color-interactive-400: #411f47;
  --color-interactive-500: #4d2754;
  --color-borders-600: #5a3361;
  --color-borders-700: #6f4377;
  --color-borders-800: #8f5799;
  --color-solid-900: #e59cf2;
  --color-solid-1000: #da91e7;
  --color-accessible-1100: #e39af0;
  --color-accessible-1200: #f0d6f5;
}

html,
body,
#root {
  height: 100%;
}

#root {
  @apply bg-gradient-to-b;
  @apply from-base-200;
  @apply to-base-100;
  @apply scroll-smooth;
}
