@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #a06ec4;
    --color-secondary: #753696;
    --color-accent: #4c2553;
    --color-neutral: #000;
    --color-base-100: #e7d8f7;
    --color-base-300: #c580ed;
  }
}

html[data-theme='dark-purple'] {
  --color-primary: #e59cf2;
  --color-scondary: #4c2553;
  --color-accent: #4c2553;
  --color-neutral: #fff;
  --color-base-100: #150818;
  --color-base-300: #230d27;
}
