.add-media-form {
	display: block;
	padding: 1em;
	background-color: white;
	border-radius: 0.5em;
	width: 676px;
	margin-bottom: 1.5em;
}

.quick-add {
	width: -moz-available;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5em;
	input, select {
		margin: 0;
	}
}

summary {
	margin-bottom: 1.5em;
}

// .dates {
// 	display: flex;
// }

.expanded-options{
	display: flex;
	flex-direction: column;

}

.expanded-dates{
display: flex;
justify-content: space-between;
}