@import './components.scss';
@import './reset.scss';

.banner {
  width: 100vw;
  display: block;
  // padding: 2em;
  height: 100vh;
  z-index: -1;
  position: absolute;
  transition: 0.5s;
  overflow: hidden;
}
header {
  h1 {
    font-size: 40px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    margin-bottom: 0.5em;
    margin: 0.33em;
  }
}
footer {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
