@import "./components.scss";
@import "./reset.scss";

.banner {
  width: 100%;
  display: block;
  padding: 2em;
  height: 220px;
	z-index: -1;
	position: absolute;
  transition: 0.5s;

	h1 {
		font-size: 100px;
		color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
	}
}

.columns {
  display: flex;
  justify-content: space-evenly;
	position: absolute;
	z-index: 999;
	top: 170px;
}

.rows {
	margin-top: 8em;
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
	// background-color: white;
  height: 100vh;
}
