input,
select,
button,
textarea {
  margin-left: 1em;
  border: 0.5px solid #393939;
  padding: 0.25em 0.5em;
  cursor: pointer;
  background-color: #e8e7e7;
  border-radius: 0.25em;
}

form {
  display: flex;
  flex-direction: column;
  label,
  .desc {
    padding-bottom: 2em;
  }
}

table {
  background-color: white;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding-bottom: 2em;
  border: 2px solid;
  width: 100%;
  tr {
    border-bottom: 1px solid #e6e6e6;
  }
  th,
  td {
    padding: 8px;
    text-align: left;
  }
  tbody td {
    vertical-align: middle;
    height: max-content;
  }

  th {
    background-color: #dddddd;
    font-weight: bold;
    justify-content: center;
    font-weight: bold;
    text-align: center;
  }
  thead {
    td {
      font-weight: bold;
      color: rgb(0, 0, 0);

      text-align: center;
      position: sticky;
    }
  }
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  margin: auto;
  background-color: white;
  padding: 1.25em;
  border-radius: 0.6rem;
  box-shadow: 0 0 1em black;
  font-size: x-large;
  width: 546px;
  input,
  textarea,
  button {
    margin: 0;
    margin-top: 1em;
  }
  textarea {
    height: 151px;
    resize: vertical;
  }
}
