@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

* {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body,
html {
  max-width: 100vw;
}

select,
button {
  background-color: #fff;
}

table {
  width: -moz-available;
  width: -webkit-fill-available;
}

dialog {
  top: 10%;
  left: 22%;
  position: fixed;
  border-radius: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 p {
  text-align: center;
}

h1 {
  color: #785982;
}

input,
select,
button,
textarea {
  padding: 0.25em;
  border-radius: 0.25em;
  margin-right: 0;
  border: none;
  color: #785982;
  background-color: #faf3fc;
  border-bottom: 1px solid #eee;
  margin-inline: 0.25em;
}
input:focus {
  outline: none;
  background-color: #ccb4d3;
}

button:hover,
input[type='submit'] {
  background-color: #ccb4d3;
  cursor: pointer;
}

select {
  cursor: pointer;
}

label {
  display: flex;
  border-radius: 0.25em;
  padding: 0.25em;
  color: #785982;
  p {
    margin-right: 0.5em;
  }
}

a {
  text-decoration: none;
  color: #785982;
}
