* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  overflow: hidden;
}

body, html {
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;
}
