.carousel-item {
  display: flex;
  width: 450px;
  margin-inline: auto;
  padding-top: 30px;
  padding-bottom: 40px;

  img {
    margin-right: 30px;
    height: 150px;
    width: 100px;
  }

  .item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
